@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #2C6176;
  --secondary: #F2A413;
  --main: #333;

  /* Background Colors */
  --bg-light-beige: #f9f1e7;
  --bg-light-cream: #faf3ea;
  --font-mulish: 'Mulish', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --font-mulish: var(--font-mulish);
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  font-family: var(--font-mulish);
  color: black;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .layout_container {
    @apply max-w-[1440px] mx-auto px-[16px] sm:px-[20px] xl:px-0;
  }
}

.position_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
